.filter-form {
    grid-area: form;
    margin-top: 1.8vh;
}

.filter__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.filter__body {
    margin-top: 3vh;
}

.label {
    color: #5F5F5F;
    display: block;
    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.label:hover {
    color: #F03B8C;
}
.label:checked {
    color: #F03B8C;
}