@media screen and (max-width: 1250px) {
    .items-wrapper {
        grid-template-columns: repeat(2, 48.27%);
    }

    .subway__buttons-distance-wrapper {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 1000px) {
    .body-wrapper {
        grid-template-columns: 60% 35%;
    }
    .items-wrapper {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 700px) {
    .body-wrapper {
        grid-template-areas: 
        "form"
        "items"
        "see-more-items";
        grid-template-columns: 100%;
        row-gap: 1%;
    }

    .filter-form {
        margin-bottom: 1vh;
    }
}