.services {
    margin-top: 11%;

}

.services__label {
    color: black;
    font-size: 1.25rem;
}

.services__toggle-button {
    position: relative;
    display: inline-block;
    cursor: pointer;

    width: 2.7rem;
    height: 1.3rem;
    margin-right: .5rem;

    border: 2px solid #F03B8C;
    border-radius: 20px;

    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
    transition: border-color 0.3s ease-in;
}

.services__toggle-button:before {
    content: "";
    display: block;
    width: 1.3rem;
    height: 1.3rem;

    position: absolute; top: -2px; bottom: 0;
    right: 18px;
    
    background: #FFFFFF;
    border: 2px solid #F03B8C; border-radius: 50%;
    transition: all 0.3s ease-in 0s; 
}

.services__toggle:checked ~ .services__toggle-button {
    border-color: #F03B8C;
    background-color: #F03B8C;

}
.services__toggle:checked ~ .services__toggle-button:before {
    right: -1px; 
}

.button_submit,
.button_reset {
    width: 100%;
    margin-top: 1.875rem;
    font-size: 1.25rem;
}

.button_submit {
    background-color: #F03B8C;
    border-color: #F03B8C;
    color: white;
}

.button_reset {
    color: #5F5F5F;
    border-color: #5F5F5F;
    height: 3em;
}

.reset-icon {
    margin-left: .5rem;
}